<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name = "referrer" content = "origin">
<title>{% if page.title %}{{ page.title | escape }} | Optika Adria{% else %}{{ site.title | escape }}{% endif %}</title>
{% seo title=false %}
{% feed_meta %}
<style>
{% capture include_to_scssify %}
{% include main.scss %}
{% endcapture %}
{{ include_to_scssify | scssify }}
</style>
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-764914122"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'AW-764914122');
</script>
<script>
function gtag_report_conversion(url) {
  var callback = function () {
    if (typeof(url) != 'undefined') {
      window.location = url;
    }
  };
  gtag('event', 'conversion', {
      'send_to': 'AW-764914122/G09rCIanz5QBEMrT3uwC',
      'event_callback': callback
  });
  return false;
}
</script>
</head>
