<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name = "referrer" content = "origin">
<title>{% if page.title %}{{ page.title | escape }} | Adria Optika{% else %}{{ site.title | escape }}{% endif %}</title>
{% feed_meta %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Ubuntu&display=swap" rel="stylesheet"> 
<style>
{% capture include_to_scssify %}
{% include main.scss %}
{% endcapture %}
{{ include_to_scssify | scssify }}
</style>
{% seo title=false %}
</head>
