@charset "utf-8";

$base-font-family: 'Ubuntu', sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$spacing-unit:     30px;
$text-color:       #34454f;
$background-color: #FDFBFC;
$brand-color:      #00cbff;
$brand-color-light:#00bff3;
$brand-color-dark: #1F73BA;
$grey-color:       #696666;
$grey-color-light: lighten($grey-color, 25%);
$grey-color-dark:  darken($grey-color, 15%);
$content-width:    800px;
$on-palm:          600px;
$on-laptop:        800px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@import
        "base",
        "layout",
        "slideshow",
        "tech-slideshow",
        "gallery",
        "form",
        "breadcrumbs",
        "cookiebar"
;
