.gallery{
  width:90%;
  margin: 0 auto;
  text-align: center;
}
ul.photo-gallery {
  margin-left: 0;

}
ul.photo-gallery li {
    list-style-type: none;
    display: inline;
    padding: 0;
    overflow: hidden;
}
ul.photo-gallery li img {
  width: 312px;
  height: 272px;
  margin: 5px;
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
}
