* {box-sizing: border-box}
.mySlides {display: none}
img {vertical-align: middle;}

.slideshow-container {
  position: relative;
  margin: auto;
  background-size: cover;
  background-position: center;
}

.ears { margin: -131px 0 0 0;
        position: relative;
        padding-top: 100px;
        z-index: 1;
        background: #FFF;
}
.ears::after {
    transform: skewY(-7deg);
    right: 0;
    transform-origin: top left;
}
.ears::before {
    transform: skewY(7deg);
    left: 0;
    transform-origin: top right;
}
.ears::after, .ears::before {
    content: '';
    display: block;
    height: 500px;
    position: absolute;
    width: 50%;
    background: #FFF;
    z-index: -1;
    top: 0;
    pointer-events: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 80%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #2aa0c0;
  font-size: 40px;
  padding: 0;
  position: absolute;
  top: 15px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #fff;
  font-size: 37px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  background:url('/img/overlay.png') no-repeat center fixed;
  background-size:cover;
  height:100%;
  width:100%;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  background-size:cover;
  overflow:hidden;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media only screen and (max-width: 600px) {
  .text {font-size: 18px;};
}
