<!DOCTYPE html>
<html lang="sl-SI">
  {% include head.html %}
  <body>
    {% include header.html %}
    <div class="gallery">
      <br/><br/>
      <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
      </header>
      {{  content }}
    </div>
    <br/><br/>
    <div id="footer-brands">
      <div class="slideshow-container">

      <div class="mySlides fade">

        <img src="/img/01.jpg" style="width:100%">

      </div>

      <div class="mySlides fade">

        <img src="/img/02.jpg" style="width:100%">

      </div>

      <div class="mySlides fade">

        <img src="/img/03.jpg" style="width:100%">

      </div>

      <div class="mySlides fade">

        <img src="/img/04.jpg" style="width:100%">

      </div>



      </div>
      <br>

      <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
      </div>
    </div>
    <br/><br/>
    {% include footer.html %}
  </body>
</html>
