<!DOCTYPE html>
<html lang="sl-SI">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="home">

        {{ content }}

    </div>

    <footer class="site-footer">
      <div class="center">
        <div class="footer-col-wrapper">

          <div class="footer-col footer-col-1">
          <h3 class="footer-heading">Adria Plast d.o.o.</h3>
            <ul class="contact-list">
              <li>Obala 26, Portoroz, Slovenia</li>
              <li>Telefon &nbsp;&nbsp;<a href="tel:{{ site.tel }}" title="" > {{ site.tel }} </a></li>
              <li>Mail &nbsp;&nbsp;<a href="mailto:{{ site.email }}"> {{ site.email }}</a></li>
            </ul>
          </div>

          <div class="footer-col footer-col-2">
            <h3 class="footer-heading">Poiščite nas na</h3>
            <ul class="social-media-list">
              <li style="padding:15px 0 15px 0;"><a href="https://www.facebook.com/Adria-Optika-Portoro%C5%BE-536281293103204/"><img src="/img/facebook.png"></a></li>
            </ul>
          </div>

          <div class="footer-col footer-col-3">
            <h3 class="footer-heading">Odpiralni čas</h3>
            <p>PON - PET &nbsp;&nbsp;&nbsp; 9:00 - 19:00 </p>

            <p>SOB &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; 9:00 - 13:00</p>

          </div>
        </div>
      </div>

      <div class="piskotki">
        Da bi vam olajšali uporabo našega spletnega mesta, uporabljamo piškotke (angl. cookies).
        <br/> Z uporabo strani soglašate z uporabo piškotkov. Kaj so <a href="/piskotki/" title="">piškotki</a>?
      </div>
    </footer>

  </body>

</html>
