<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="home">

        {{ content }}

    </div>

    <footer class="site-footer">



      <div class="wrapper">
        <h2 class="footer-heading"></h2>

        <div class="footer-col-wrapper">
          <div class="footer-col footer-col-1">
            <ul class="contact-list">
              <li>{{ site.title }}</li>
              <li><a href="mailto:{{ site.email }}">&#9993; {{ site.email }}</a></li>
              <li><a href="tel:{{ site.tel }}" title="" >&#9742; {{ site.tel }} </a></li>
            </ul>
          </div>

          <div class="footer-col footer-col-2">
            <ul class="social-media-list">
              {% if site.github_username %}
              <li>
                facebook
              </li>
              {% endif %}

            </ul>
          </div>

          <div class="footer-col footer-col-3">
            <h3>Odpiralni čas</h3>
            <p><b>PON - PET</b></p>
            <p>9:00 - 19:00</p>
            <p><b>SOB</b></p>
            <p>9:00 - 13:00</p>
            <p><b>NED</b></p>
            <p>Zaprto</p>
          </div>
        </div>

      </div>

    </footer>




  </body>

</html>
